{% extends 'account/base_account_template.html' %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="title"><span>Change password</span></div>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="field_error">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ field }}
                </div>
            {% endfor %}
          <div class="row button">
            <input type="submit" value="Сменить пароль">
          </div>
        </form>
    </div>
{% endblock %}