asgiref==3.7.2 ; python_version >= "3.8" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
django-appconf==1.0.5 ; python_version >= "3.8" and python_version < "4.0"
django-compressor==4.4 ; python_version >= "3.8" and python_version < "4.0"
django-crispy-forms==2.0 ; python_version >= "3.8" and python_version < "4.0"
django-sass-processor==1.2.2 ; python_version >= "3.8" and python_version < "4.0"
django-user-accounts==3.2.0 ; python_version >= "3.8" and python_version < "4.0"
django==4.2.2 ; python_version >= "3.8" and python_version < "4.0"
libsass==0.22.0 ; python_version >= "3.8" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.8" and python_version < "4.0"
rcssmin==1.1.1 ; python_version >= "3.8" and python_version < "4.0"
rjsmin==1.2.1 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.7.0 ; python_version >= "3.8" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
